<a href="https://colab.research.google.com/github/KaterynaPR/KateRul_assignment/blob/main/Kate_Rul_9_1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 9.1

> Replace all TODOs with your code. Do not change any other code.

In [1]:
# Do not edit this cell

import numpy as np
import pandas as pd

## Numpy

### Task 1

Create a 1D numpy array with elements [1, 2, 3, 4, 5]. Do it in two different ways.

In [2]:
res = np.array([1, 2, 3, 4, 5])

print(res)

[1 2 3 4 5]

In [3]:
res2 = np.arange(1, 6)

print(res2)

[1 2 3 4 5]

### Task 2

Create a 2D numpy array with shape (3, 5) filled with random integers between 1 and 100.

In [4]:
res3 = np.random.random((3,5))*100

print(res3)

[[68.8281919  12.3160353  31.89937075 10.57001983 67.74005537]
 [ 1.09323312 75.77864284 56.78519711 71.23831457 38.447361  ]
 [98.42057286 69.40311537 46.6745175  83.48626316 68.83777119]]

### Task 3

Print the first row of array `res3`.

In [6]:
print(res3[0])

[68.8281919  12.3160353  31.89937075 10.57001983 67.74005537]

### Task 4

Access the last column of array `res3`. Assume that the array may be of any 2D shape.

In [7]:
print(res3[:, -1])

[67.74005537 38.447361   68.83777119]

### Task 5

Find the min, max, and sum of elements of the second column of array `res3`.

In [12]:
# Min
res_min = res3[:, 1]
min_num = np.min(res_min)
print('min =', min_num)

min = 12.316035295421123

In [14]:
# Max
res_max = res3[:, 1]
max_num = np.max(res_max)
print('max =', max_num)

max = 75.77864284382697

In [15]:
# Sum
res_sum = res3[:, 1]
sum_value= np.sum(res_sum)

print('sum =', sum_value)

sum = 157.497793509611

### Task 6

Tabulate the function

$$f(x) = e^{2x}$$

on interval `[0, 1]` with step 0.1.

By "tabulate" we mean that we want to have a table (1D array), where on the first position we will have the function value for 0, on the second position 0.1, and so on.

In [16]:
x = np.arange(0, 1.1, 0.1)
f_x = np.exp(2 * x)

print(f_x)

[1.         1.22140276 1.4918247  1.8221188  2.22554093 2.71828183
 3.32011692 4.05519997 4.95303242 6.04964746 7.3890561 ]

## Pandas

We will be working on the classic dataset for beginner data scientists: Titanic passengers.

### Task 7

Load the dataset from the following URL: https://web.stanford.edu/class/cs102/datasets/Titanic.csv

In [23]:
df = pd.read_csv("/content/Titanic.csv")
df

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no
...,...,...,...,...,...,...,...,...
886,Montvila,Rev. Juozas,M,27.0,2,13.0000,Southampton,no
887,Graham,Miss Margaret Edith,F,19.0,1,30.0000,Southampton,yes
888,Johnston,"Miss Catherine Helen ""Carrie""",F,NaN,3,23.4500,Southampton,no
889,Behr,Mr. Karl Howell,M,26.0,1,30.0000,Cherbourg,yes
890,Dooley,Mr. Patrick,M,32.0,3,7.7500,Queenstown,no

### Task 8

Let's see the series/columns present in the data frame.

Also, let's inspect the first ten rows of data.

In [26]:
df.columns

Index(['last', 'first', 'gender', 'age', 'class', 'fare', 'embarked',
       'survived'],
      dtype='object')

In [27]:
df.head(10)

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no
5,Moran,Mr. James,M,NaN,3,8.4583,Queenstown,no
6,McCarthy,Mr. Timothy J,M,54.0,1,51.8625,Southampton,no
7,Palsson,Master Gosta Leonard,M,2.0,3,21.0750,Southampton,no
8,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),F,27.0,3,11.1333,Southampton,yes
9,Nasser,Mrs. Nicholas (Adele Achem),F,14.0,2,30.0708,Cherbourg,yes

### Task 9

Add a new column - full name - it should be a concat of the first and last name.

In [32]:
df['Full Name'] = df['first'] + ' ' + df['last']
df

,last,first,gender,age,class,fare,embarked,survived,Full Name
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no,Mr. Owen Harris Braund
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes,Mrs. John Bradley (Florence Briggs Thayer) Cum...
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes,Miss Laina Heikkinen
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes,Mrs. Jacques Heath (Lily May Peel) Futrelle
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no,Mr. William Henry Allen
...,...,...,...,...,...,...,...,...,...
886,Montvila,Rev. Juozas,M,27.0,2,13.0000,Southampton,no,Rev. Juozas Montvila
887,Graham,Miss Margaret Edith,F,19.0,1,30.0000,Southampton,yes,Miss Margaret Edith Graham
888,Johnston,"Miss Catherine Helen ""Carrie""",F,NaN,3,23.4500,Southampton,no,"Miss Catherine Helen ""Carrie"" Johnston"
889,Behr,Mr. Karl Howell,M,26.0,1,30.0000,Cherbourg,yes,Mr. Karl Howell Behr
890,Dooley,Mr. Patrick,M,32.0,3,7.7500,Queenstown,no,Mr. Patrick Dooley

### Task 10

Remove the two original columns - last, first.

In [44]:
df.head(10) #last and first чомусь зникли після останньої операції. Не розумію чому?
#Для видлалення стовпців необхідно: df = df.drop(columns=['last', 'first'])

,gender,age,class,fare,embarked,survived,Full Name
0,M,22.0,3,7.2500,Southampton,no,Mr. Owen Harris Braund
1,F,38.0,1,71.2833,Cherbourg,yes,Mrs. John Bradley (Florence Briggs Thayer) Cum...
2,F,26.0,3,7.9250,Southampton,yes,Miss Laina Heikkinen
3,F,35.0,1,53.1000,Southampton,yes,Mrs. Jacques Heath (Lily May Peel) Futrelle
4,M,35.0,3,8.0500,Southampton,no,Mr. William Henry Allen
5,M,NaN,3,8.4583,Queenstown,no,Mr. James Moran
6,M,54.0,1,51.8625,Southampton,no,Mr. Timothy J McCarthy
7,M,2.0,3,21.0750,Southampton,no,Master Gosta Leonard Palsson
8,F,27.0,3,11.1333,Southampton,yes,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9,F,14.0,2,30.0708,Cherbourg,yes,Mrs. Nicholas (Adele Achem) Nasser

### Task 11

Calculate the total number of survivors in the dataset.

In [48]:
total_survivors = df['survived'].value_counts().get('yes', 0)
print(total_survivors)

342